<!-- <app-facturas-crud></app-facturas-crud> -->
<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/quienes-somos" routerLinkActive="active">Quiénes somos</a></li>
    <li><a routerLink="/contacto" routerLinkActive="active">Contacta con nosotros</a></li>
    <li><a routerLink="/facturas-crud" routerLinkActive="active">CRUD facturas</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>