.example-spacer {
    flex: 1 1 auto;
}

mat-sidenav-container{
    height: 100%;
    background-color: white;
}

mat-sidenav{
    width: 210px;
}

.patata{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
