<router-outlet></router-outlet>
<h1>Lista de cursos</h1>
<table id="tablita">
    <tr>
        <th>ID curso</th>
        <th>Nombre</th>
        <th>Duración</th>
        <th>Nivel</th>
        <th></th>
    </tr>
    <tr *ngFor="let c of listaCursos">
        <td>{{c.id}}</td>
        <td>{{c.nombre}}</td>
        <td>{{c.duracion}}</td>
        <td>{{c.nivel}}</td>
        <td><button [routerLink]="['/update', c.id]" (click)="cursosService.deactivateInput()">Modificar</button></td>
    </tr>
</table>
<br>
<button [routerLink]="'alta'" (click)="cursosService.activateInput()">Alta</button>
