<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">&nbsp;&nbsp;Repaso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="" routerLinkActive="active">1</a>
        <a class="nav-item nav-link active" routerLink="/2" routerLinkActive="active">2</a>
        <a class="nav-item nav-link active" routerLink="/3" routerLinkActive="active">3</a>
        <a class="nav-item nav-link active" routerLink="/4" routerLinkActive="active">4</a>
        <a class="nav-item nav-link active" routerLink="/5" routerLinkActive="active">5</a>
        <a class="nav-item nav-link active" routerLink="/6" routerLinkActive="active">6</a>
        <a class="nav-item nav-link active" routerLink="/7" routerLinkActive="active">7</a>
        <a class="nav-item nav-link active" routerLink="/9" routerLinkActive="active">9</a>
        <a class="nav-item nav-link active" routerLink="/11" routerLinkActive="active">11</a>
        <a class="nav-item nav-link active" routerLink="/13" routerLinkActive="active">13</a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>